.imgMotionWrapper {
    position: relative;
    display: inline-block;
  }
  
  .imgMotionWrapper:hover {
    z-index: 99;
  }
  .lgItem {
    position: relative;
    width: 300px;
    height: 300px;
  }
  .container {
    margin-right: 0.25rem /* 4px */;
    cursor: pointer;
  }
  .cardImg {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 0.375rem /* 6px */;
    object-fit: contain;
    object-position: center;
    display: block;
    max-width: 100%;
  }